.navbar {
  padding-inline: var(--size-6);
  background-color: var(--wisdom-secondary-bg);
  min-height: 5rem;
}

.logo_text {
  font-size: var(--size-9);
  font-family: "Lato", sans-serif;
  font-style: italic;
  cursor: pointer;
}

.navbar_search .search_box {
  border-radius: var(--size-4);
}

.navbar .navbar_links {
  display: block;
}

@media only screen and (min-width: 769px) {
  .navbar {
    padding-inline: var(--size-16);
  }
}
