.navbar {
  padding-inline: var(--size-6);
  background-color: var(--wisdom-secondary-bg);
  color: #f8f8f8;
  height: 5rem;
}

.navbar .navbar_links {
  display: block;
}

.logo_text {
  font-size: var(--size-9);
  font-family: "Lato", sans-serif;
  font-style: italic;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .navbar {
    padding-inline: var(--size-16);
  }
  .navbar_links {
    justify-content: space-around;
  }
  .navbar_links i {
    cursor: pointer;
  }
}
