@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat&display=swap");

:root {
  --wisdom-primary-bg: #181818;
  --wisdom-secondary-bg: #202020;
  --wisdom-chip-bg: #373737;
  --wisdom-red: #ff0000;
  --wisdom-light: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--wisdom-primary-bg);
  color: #ffffff;
}

.card {
  box-shadow: none;
}
